:root {
    --dark-text-color: #0D1C2E;
    --active-color: #2A8BF2;
    --background-one-color: #E6ECFE;
    --background-two-color: #FAFBFF;
    --background-top-menu-color: #FFFFFF;
    --indicator-color: #FF3366;
    --light-text-color: #707C97;
}
