.menu__item{
    margin-top: 43px;
    width: 100%;
    position: relative;
}
.menu__item_icon{
    width: 24px;
    height: 24px;
    margin-right: 17px;
}
.menu__item_link{
    padding: 12px 0 12px 50px;
    display: flex;
    align-items: center;
}
.menu__item_title{
    font-weight: bold;
    color: var(--light-text-color);
    font-size: var(--basic-font-size);
    text-transform: uppercase;
    line-height: var(--basic-line-height);
    display: block;
}

.menu__item_active{
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--active-color);
    box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
    border-radius: 3px;
}
